/* Contextmenu | CSS */

/* context button | context submenu */
.ctxButton, .ctxSubmenu {
  background-color: white;
  width: 100%;
  border-style: none;
  text-align: left;
}

.ctxButton:hover, .ctxSubmenu:hover {
  background-color: lightgray;
}

.ctxButton:active, .ctxSubmenu:active {
  background-color: silver;
}

/* context seperator */
.ctxSeperator {
  background-color: gray;
  height: 1px;
  width: 100%;
}

/* context submenu */
.ctxSubmenu {

}
